* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Popins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cards {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards img:hover {
  border: 2px solid #f44336;
}